@{
    ViewBag.Title = "Contact";
}


<address>
    184573428 Cake St<br />
    Seattle, WA 98122<br />
    <abbr title="Phone">P:</abbr>
    206.336.9987
</address>

<address>
    <strong>Us:</strong>   <a href="mailto:Support@example.com">baker@ourbakery.com</a><br />
    
</address>